@charset "UTF-8";        
*{
    padding: 0%;
    margin: 0%;
}

html, body{
    background:gray;
}
.showing{
    width:500px;
    height:500px;
    text-align:center;
    margin:auto;
    padding:200px 100px 250px;
    /*background:url(bg2.jpg) no-repeat center center;*/

}
.calendar{
    margin: 45px;
    width: 450px;
    height: 350px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.title{
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    text-align: center;
}

#calendar-title{
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 0 0 0;
}

#calendar-year{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#pre{
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(prev.png) no-repeat 50% 50%;
    width: 60px;
    height: 70px;

}

#next{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(next.png) no-repeat 50% 50%;
    width: 60px;
    height: 70px;
}

.body-list ul{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;

}

.body-list ul li{
    list-style: none;

    /*100/7 = 14.28%*/
    display: block;
    width: 14.28%;
    float: left;

    /*规定行高，垂直居中*/
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;

}


.green{
    color:#6ac13c;
}
button{
float:right;
}
